.box_about {
    margin: 2.2em auto;
}

.box_about h1 {
    color: var(--color-primary);
}

.box_about p {
    margin: auto;
    text-align: justify;
    width: 700px;
    line-height: 30px;
    margin-bottom: 20px;

}

.banner {
    max-width: 680px;
    border-radius: 8px;
    margin: 20px auto;
}
