.box_login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    min-height: 75vh;
    margin: 10px auto;
    
}

.box_login form {
    width: 100%;
}

.box_login .message {
    margin-bottom: 2.2em;
    color: #888;
}

/* @media (max-width: 600px) {
    .box_login {
        padding: 16px;
    }
} */
