.container {
    display: flex;
    flex-direction: row;
    color: #968e8c;
}

.like i,
.view i {
    font-size: 14px;
}

.like i {
    cursor: pointer;
}

.view {
    margin-left: 10px;
}

.like span,
.view span {
    font-size: 12px;
    margin-left: 5px;
}
