input,
button {
    margin: 0 !important;
}

.main {
    display: flex;
    flex-direction: row-reverse;
}

.content {
    display: block;
    width: 1200px;
    max-width: 100%;
}

.content h1 {
    margin: 2em 0;
}

.content .posts {
    margin-top: 6em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}



@media (max-width: 600px) {
    .content h1 {
        font-size: 30px;
        margin: 0 10px;
    }

    .content .search {
        width: 90%;
        padding: 2px 8px;
    }

    .content .search input {
        font-size: 14px;
    }

    .content .search button {
        font-size: 14px;
    }
}
