input,
button {
    margin: 0 !important;
}

.container {
    width: 1200px;
    max-width: 100%;
}

.container h1 {
    margin: 2em 0;
}

.container .posts {
    margin-top: 6em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

@media (max-width: 600px) {
    .container h1 {
        font-size: 30px;
        margin: 0 10px;
    }

    .container .search {
        width: 90%;
        padding: 2px 8px;
    }

    .container .search input {
        font-size: 14px;
    }

    .container .search button {
        font-size: 14px;
    }
}
