input,
button {
    margin: 0 !important;
}

.container {
    width: 1200px;
    max-width: 100%;
}

.container h1 {
    margin: 2em 0;
}

.container .search {
    box-sizing: border-box;
    max-width: 450px;
    margin: 5em auto 0 auto;
    background: #fefefe;
    outline: 1px solid #666;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 14px;
    border-radius: 30px;
}

.container .search input {
    padding: 8px 0;
    border: none;
    outline: none;
    font-size: 18px;
    width: 100%;
    margin-left: 8px !important;
    margin-right: 8px !important;
    background: transparent;
}

.container .search button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 17px;
}

.container .search i {
    color: #666;
}

.container .posts {
    margin-top: 6em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

@media (max-width: 600px) {
    .container h1 {
        font-size: 30px;
        margin: 0 10px;
    }

    .container .search {
        width: 90%;
        padding: 2px 8px;
    }

    .container .search input {
        font-size: 14px;
    }

    .container .search button {
        font-size: 14px;
    }
}
