h2,
p {
    margin: 0;
    padding: 0;
    color: #2c2c2c;
}

.card {
    background: #ffff;
    box-shadow: rgba(78, 78, 78, 0.2) 0px 7px 29px 0px;
}

.cardDark {
    background: transparent;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 7px 29px 0px;
}

.cardDark h2 {
    color: var(--color-primary);
}

.cardDark p {
    color: #fefefe;
}

.card,
.cardDark {
    display: flex;
    width: 800px;
    max-width: 800px;
    height: 260px;
    border-radius: 20px;
    overflow: hidden;
}

.card .image,
.cardDark .image {
    width: 35%;
    overflow: hidden;
    padding: 16px;
}

.card img,
.cardDark img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.card .content,
.cardDark .content {
    width: 65%;
    text-align: left;
    padding: 16px;
}

.card .content .title,
.cardDark .content .title {
    height: 60px;
}

.card .content .body,
.cardDark .content .body {
    height: 145px;
    line-height: 30px;
}
