h2, p {
    margin: 0 !important;
}

a {
    text-decoration: none;
    color: #000;
}

.card {
    width: 865px;
    height: 294px;
    display: flex;
    margin-bottom: 98px;
    gap: 37px;
}

.card .image img {
    width: 474px;
    height: 293px;
}

.card .content {
    text-align: left;
    margin: 0;
    padding: 0;
    width: 361px;
    overflow: hidden;
}

.content .title h2 {
   
    font-size: 24px;
    font-weight: 600;
    color: var(--black-primary);
}


.content .body  {
    line-height: 26px;
    font-size: 17px;
    font-weight: 300;
    color: #716C6C;
}

.content .infoDate {
    font-size: 14px;
    font-weight: 300;
    color: #716C6C;
    height: 15px;
    margin-bottom: 10px;
}

.content .title {
    height: 52px;
    font-size: 24px;
    margin-bottom: 19px;
}

.content .body {
    height: 124px;
    margin-bottom: 19px;
    font-size: 17px;
    line-height: 25px;
}

.content .button {
    border: none;
    width: 170px;
    height: 56px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
    background: var(--dark-yellow);
    color: #fff;
}

