h2, p {
    margin: 0 !important;
}

a {
    text-decoration: none;
    color: #000;
}

.card {
    width: 865px;
    height: 294px;
    display: flex;
    margin-bottom: 98px;
    gap: 34px;
}

.card .image img {
    width: 474px;
    height: 293px;
}

.card .content {

    text-align: left;
}

.content .title h2 {
    font-size: 22px;
    color: var(--black-primary);
}

.content .body  {
    line-height: 26px;
    font-size: 16px;
    font-weight: 300;
    color: #716C6C;
}