.box_post {
    width: 800px;
    margin: 2.5em auto;
    text-align: justify;
}

.box_post img {
    width: 100%;
    max-width: 100%;
    max-height: 380px;
    object-fit: cover;
    border-radius: 8px;
}

.box_post small {
    color: #999;
}

.box_error {
    text-align: center;
}

.box_error button {
    width: 300px;
}
