.navbar .container,
.navbarDark .container {
    margin: auto;
    width: 1300px;
    max-width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .brand {
    font-size: 26px;
    margin-left: 20px;
    color: #2a2a2a;
    font-weight: 900;
}

.brand span {
    text-transform: uppercase;
    color: var(--color-primary);
}

.navbarDark .container .brand {
    color: #a8acc0;
}

.container .links {
    display: flex;
    gap: 40px;
    /* margin-right: 10px; */
}

.container .links li a {
    font-size: 18px;
    font-weight: 600;
    color: #656565;
}

.navbarDark .container .links li a {
    color: #a8acc0;
}

.container .links li a:hover {
    transition: 0.8s;
    color: var(--color-primary);
}

.navbarDark .container {
    color: #a8acc0;
}

.container .themeMode {
    margin-left: 60px;
}

.themeMode button {
    background: transparent;
    outline: none;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all 0.3s;
    box-shadow: 3px 3px 8px #c5c5c5, -3px -3px 12px #ffffff;
}

.themeMode button i {
    font-size: 22px;
}

.themeMode button .iconSun i {
    /* color: #454545; */
    color: #a4a4a4;
}

.themeMode button .iconMoon {
    color: #a8acc0;
}

@media (max-width: 600px) {
    .container .links {
        display: none;
    }
}
