.navbar,
.navbar_dark {
    width: 100%;
    height: 65px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.navbar_dark {
    transition: 0.3s;
    background: var(--color-dark-primary);
    color: #fff;
    box-shadow: none;
}

.navbar_dark a {
    color: #fff;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1450px;
    height: 100%;
    margin: auto;
}

.container .links {
    text-align: center;
    display: flex;
    align-items: center;
}

.container .brand {
    font-size: 1.3em;
}

.brand span {
    color: var(--color-primary);
    font-weight: 900;
    text-transform: uppercase;
}

.links ul {
    display: flex;
    gap: 1.4em;
}

.links ul a:hover {
    color: var(--color-primary);
    border-bottom: 2px solid var(--color-primary);
}

.switch {
    position: relative;
    display: inline-block;
    width: 57px;
    height: 28px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px;
}

.slider::before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 3px;
    background: #fff;
    border-radius: 50%;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background: var(--color-primary);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--color-primary);
}

input:checked + .slider:before {
    -webkit-transform: translateX(27px);
    -ms-transform: translateX(27px);
    transform: translateX(27px);
}
