
.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    background: var(--black-primary);
} 

.navbar .container {
    max-width: 1512px;
    height: 105px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

.container .user {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user .imgProfile {
    width: 68px;
    height: 68px;
    border-radius: 50%;
    overflow: hidden;
}

.user .salutation span {
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    display: block;
    text-align: left;
    line-height: 22px;
    margin-left: 10px;
}


.imgProfile img {
    width: 100%;
}

.container .links ul {
    display: flex;
    padding: 20px 8px;
    gap: 50px;
}

.links ul a {
    color: #fff;
    font-size: 17px;
    font-weight: bold;
}

.links ul a:hover {
    transition: 5ms;
    color: var(--orange-primary);
}

.container .buttonTheme button {
    background: transparent;
    border: none;
    cursor: pointer;
}

