.container, .containerDark {
    display: flex;
}

.imageCard {
    width: 208px;
    height: 128px;
    margin-right: 10px;
    margin-bottom: 42px;
}

.content h2 {
    font-size: 16px;
    font-weight: 600;
    color: var(--orange-primary)
}