.sideBar,
.sideBarDark {
    display: flex;
    flex-direction: column;
    width: 356px;
    text-align: left;  
}

.title {
    font-size: 22px;
    font-weight: 600;
    line-height: 25px;
    margin-bottom: 42px;
}

