.footer,
.footer_dark {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    color: #fff;
}

.footer {
    margin-top: 6em;
    background: var(--color-primary);
}

.footer_dark {
    transition: 0.3s;
    background: var(--color-dark-primary);
}

.social_media {
    margin-top: 6px;
}

.social_media a {
    color: #fff;
    padding: 6px;
    transition: 0.3s;
}

.social_media i {
    font-size: 22px;
}

.social_media a:hover {
    color: #a6a6a6;
}
