.footer,
.footer_dark {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    color: #fff;
}

.footer {
    background: var(--color-primary);
}

.footer_dark {
    transition: 0.3s;
    background: var(--color-dark-primary);
}
