input,
button {
    margin: 0 !important;
}

.search {
    background: #ffff !important;
    box-sizing: border-box;
    max-width: 420px;
    margin: 5em auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 14px;
    border-radius: 30px;
}

.search input {
    padding: 8px 0;
    border: none;
    outline: none;
    font-size: 16px;
    width: 100%;
    margin-left: 8px !important;
    margin-right: 8px !important;
    background: transparent;
    /* color: rgba(0, 0, 0, .87); */
}

.search button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}

.search i {
    color: #9aa0a6;
}
