input,
button {
    margin: 0 !important;
}

.search {
    background: #ffff !important;
    box-sizing: border-box;
    max-width: 240px;
    margin: 2em auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 8px;
    border-radius: 30px;
    border: 1px solid #a8a8a8;
}

.search input {
    padding: 8px 0;
    border: none;
    outline: none;
    font-size: 13px;
    width: 100%;
    margin-left: 2px !important;
    margin-right: 4px !important;
    background: transparent;
    /* color: rgba(0, 0, 0, .87); */
}

.search button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 12px;
}

.search i {
    color: #9aa0a6;
}
