.App {
    text-align: center;
}

.dark {
    background: #1f2028;
    color: #ccc;
}

.dark h1,
h2 {
    color: var(--color-primary);
}

.App .container {
    max-width: 1200px;
    min-height: 60vh;
    margin: auto;
}

.App form {
    background: #f7f7f7;
}

.dark form {
    background: #242531;
}

@media (max-width: 600px) {
}

