@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
    --bg-light: #fbf1c7;
    --black-primary: #17150C;
    --orange-primary: #D65D0E;
    --dark-yellow: #A7880C;


    --color-danger: #f44336;
  
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Montserrat", sans-serif; */
    font-family: 'Roboto', sans-serif;
    font-family: roboto;
    background: var(--bg-light);
}

/* scroll */
body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: #ccc;
}

body::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: 20px;
    border: 3px solid #ccc;
}

h1,
h2,
h3 {
    color: #2a2a2a;
}

h1 {
    font-size: 43px;
}

/* Navbar */
nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
}

/* Form */

.form {
    display: flex;
    flex-direction: column;
    gap: 3em;
    border-radius: 8px;
    padding: 30px;
}

.form label {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 4px;
}

.form label span {
    font-weight: bold;
    font-size: 20px;
    color: var(--color-primary);
    margin-bottom: 3px;
}

.form label input,
.form label textarea {
    font-family: "Montserrat", sans-serif;
    background: transparent;
    color: #777;
    padding: 14px 0;
    border: none;
    border-bottom: 1px solid #999;
    outline: none;
    font-size: 18px;
    margin: 10px 0;
}

.form label textarea {
    max-width: 96%;

    border: 1px solid #999;
    padding: 12px;
}

.form button {
    margin: 14px 0;
}

.form a {
    color: var(--color-primary);
}

.btn_success {
    border: none;
    border-radius: 30px;
    outline: none;
    padding: 16px 0;
    font-size: 19px;
    font-weight: 600;
    /* letter-spacing: 1px; */
    background: var(--color-primary);
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.btn_success:hover {
    background: #8832c1;
}

.btn_disabled {
    background: var(--color-danger);
    color: #000;
}

.btn_disabled:hover {
    background: var(--color-danger);
}

/* Messagem de alerta */
.alert {
    padding: 14px;
    background: var(--color-danger);
    color: #fff;
    margin-bottom: 15px;
    font-weight: bold;
}

.alert span {
    margin-left: 15px;
    font-weight: bold;
    float: right;
    font-size: 20px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.alert span:hover {
    color: #000;
}

/* loading */

.box_loader {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid var(--color-primary);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

.loading {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_posts {
    margin: 4em auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 2px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
