@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
    --color-primary: #aa3ff1;
    --color-dark-primary: #1c1c1c;
}

body {
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

/* Navbar */
nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #000;
}
