@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
    --color-primary: #aa3ff1;
    --color-danger: #f44336;
    --color-dark-primary: #1c1c1c;
}

body {
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

/* scroll */
body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: #ccc;
}

body::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: 20px;
    border: 3px solid #ccc;
}

h1 {
    color: var(--color-primary);
}

/* Navbar */
nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #000;
}

/* Form */
form {
    display: flex;
    flex-direction: column;
    gap: 1.4em;
}

form label {
    display: flex;
    flex-direction: column;
    text-align: left;
}

form label span {
    font-weight: bold;
    font-size: 17px;
    color: var(--color-primary);
    margin-bottom: 2px;
}

form label input,
form label textarea {
    font-family: "Montserrat", sans-serif;
    background: transparent;
    color: #777;
    padding: 12px 0;
    border: none;
    border-bottom: 1px solid #999;
    outline: none;
    font-size: 16px;
    margin: 10px 0;
}

form label textarea {
    border: 1px solid #999;
    padding: 12px;
}

form button {
    margin: 14px 0;
}

form a {
    color: var(--color-primary);
}

.btn_success {
    border: none;
    border-radius: 30px;
    outline: none;
    padding: 12px 0;
    font-size: 17px;
    background: var(--color-primary);
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.btn_success:hover {
    background: #8832c1;
}

.btn_disabled {
    background: var(--color-danger);
    color: #000;
}

.btn_disabled:hover {
    background: var(--color-danger);
}

/* Messagem de alerta */
.alert {
    padding: 14px;
    background: var(--color-danger);
    color: #fff;
    margin-bottom: 15px;
    font-weight: bold;
}

.alert span {
    margin-left: 15px;
    font-weight: bold;
    float: right;
    font-size: 20px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.alert span:hover {
    color: #000;
}
